<h1>My dashboard</h1>
<p> Email: <%= @user.email %> </p>
  <h2> My Surfboards:  </h2>
  <ul>
    <% @user.surfboards.each do |surfboard|%>
    <li> Location: <%= surfboard.location%> ,  Board-type: <%=surfboard.board_type%>, <%= link_to surfboard.board_type, surfboard_path(surfboard) %></li>
    <% end %>
  </ul>

  <h2> My Bookings: </h2>
  <ul>
    <% @user.bookings.each do |booking|%>
    <li> <%= booking.start_date %> to <%= booking.end_date %> </li>
    <% end %>
  </ul>