
<h1>All Surfboards</h1>

<% if @surfboards.any? %>
  <ul>
    <% @surfboards.each do |surfboard| %>
      <li>
          <% @surfboards.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <h3><%= link_to surfboard.board_type, surfboard_path(surfboard) %></h3>
        <p>Description: <%= surfboard.description %></p>
        <p>Location: <%= surfboard.location %></p>
        <p>Availability: <%= surfboard.availibility %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No surfboards found.</p>
<% end %>


<%= link_to "New Surfboard", new_surfboard_path %>



<%# <!-- app/views/articles/show.html.erb -->
<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %> %>
