<!-- app/views/surfboards/index.html.erb -->

<h1>All Surfboards</h1>

<% if @surfboards.any? %>
  <ul>
    <% @surfboards.each do |surfboard| %>
      <li>
        <%= image_tag(surfboard.img_url.presence || "https://source.unsplash.com/random?surfing", class: "surfboard-image") %>
        <h3><%= surfboard.board_type %></h3>
        <p>Description: <%= surfboard.description %></p>
        <p>Location: <%= surfboard.location %></p>
        <p>Availability: <%= surfboard.availibility %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No surfboards found.</p>
<% end %>

<%= link_to "New Surfboard", new_surfboard_path %>
