<!-- app/views/surfboards/index.html.erb -->

<h1>ALL SURFBOARDS</h1>

<% if @surfboards.any? %>
  <ul>
    <% @surfboards.each do |surfboard| %>
      <li>
        <%= image_tag(surfboard.img_url.presence || "https://source.unsplash.com/random?surfing", class: "surfboard-image") %>
        <h3><%= surfboard.board_type %></h3>
        <p>description <%= surfboard.description %></p>
        <p>location: <%= surfboard.location %></p>
        <p>availibility: <%= surfboard.availibility %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No surfboards found.</p>
<% end %>

<%= link_to "NEW SURFBOARD", new_surfboard_path %>
