<div class="form-container">
  <h1>Add a New Surfboard</h1>

    <%= simple_form_for(@surfboard) do |form| %>
  <div class="field-container">
        <%= form.input :board_type %>
  </div>
  <div class="field-container">
        <%= form.input :photos, as: :file, input_html: { multiple: true } %>
  </div>
  <div class="field-container">
        <%= form.input :description %>
  </div>
  <div class="field-container">
        <%= form.input :availibility %>
  </div>
  <div class="field-container">
        <%= form.input :location,
        label: "location", 
  input_html: {data: {address_autocomplete_target: "location"}, class: "d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
%>
  </div>
      <%= form.submit %>
    <% end %>
</div>
