# TODO: add form to create a new sb

  <h1>Add a New Surfboard</h1>

  <%= simple_form_for(@surfboard) do |form| %>

      <%= form.input :board_type %>

      <%= form.input :photos, as: :file %>

      <%= form.input :description %>

      <%= form.input :availibility %>

      <%= form.input :location %>
    <%= form.submit %>
  <% end %>
