<div class="form-container">
  <h1>ADD NEW ITEM</h1>
  <%= form_with(model: @surfboard, local: true) do |form| %>
    <div class="field-container">
      <%= form.label :board_type %>
      <%= form.text_field :board_type%>
    </div>

    <div class="field-container">
      <%= form.label :img_url %>
      <%= form.text_field :img_url %>
    </div>

    <div class="field-container">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field-container">
      <%= form.label :availibility %>
      <%= form.date_field :availability %>
    </div>

    <div class="field-container">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>

    <%= form.submit %>
  <% end %>
</div>
