<div class="container">
<h3><%= @surfboard.board_type %></h3>

<%= cl_image_tag @surfboard.photos.first.key, alt: @surfboard.board_type, width: 200 %>

<p><%= "Location : #{@surfboard.location}" %></p>
<br>
<p><%= @surfboard.description %></p>

<%= link_to "Book Now", new_surfboard_booking_path(@surfboard) %>
</div>
