<div class="container">
<h3><%= @surfboard.board_type %></h3>

<%= cl_image_tag @surfboard.photos.first.key, alt: @surfboard.board_type, width: 200 %>


          <p>INFO <%= @surfboard.description %></p>
          <p>LOCATION <%= @surfboard.location %></p>
          <p>AVAILABILITY <%= @surfboard.availibility %></p>


<div data-controller="toggle">
<button data-action="click->toggle#fire" class="btn btn-outline-primary">Book Now</button>

  <%#= link_to "Book Now", new_surfboard_booking_path(@surfboard) %>


<div class="form-inputs d-none" data-toggle-target="togglableElement">
<%= simple_form_for [@surfboard, @booking] do |f| %>
  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>

  <div class="form-actions">
  <%= f.submit %>
<% end %>
</div>
</div>
</div>



<%= link_to "BOOK", new_surfboard_booking_path(@surfboard) %>
